<form [formGroup]="postForm" (ngSubmit)="submitForm()" class="form">
    <mat-form-field class="form-element">
        <input matInput placeholder="Title" formControlName="title">
        <mat-error *ngIf="!postForm.controls['title'].valid">
            Title is required
        </mat-error>
    </mat-form-field>

    <mat-form-field class="form-element">
        <mat-select placeholder="Author" formControlName="author"> 
            <mat-option *ngFor="let author of authors" [value]="author.name">
                {{author.name}}
            </mat-option>
        </mat-select>
        <mat-error *ngIf="!postForm.controls['author'].valid">
            Author is required
        </mat-error>
    </mat-form-field>

    <div class="form-element">
        <quill-editor [styles]="editorStyle" placeholder="Enter Text" formControlName="content"></quill-editor>
    </div>

    <div class="form-element">
        <button mat-raised-button color="primary" type="submit" class="button" [disabled]="!postForm.valid">Submit Form</button>
      </div>
</form>