<div class="posts">
    <!-- 
        <mat-progress-bar mode="indeterminate" *ngIf="dataSource.loading$ | async"></mat-progress-bar>
    -->
    <mat-table class="posts-table mat-elevation-z8" [dataSource]="dataSource"
        matSort matSortActive="title" matSortDirection="asc" matSortDisableClear>

        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
            <mat-cell *matCellDef="let post">
                <a routerLink="/posts/{{post.id}}" routerLinkActive="active">{{post.id}}</a>
                &nbsp;
                <a routerLink="/edit-post/{{post.id}}" routerLinkActive="active">Edit</a>
            </mat-cell>
        </ng-container>
    
        <ng-container matColumnDef="title">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Title</mat-header-cell>
            <mat-cell class="title-cell" *matCellDef="let post">{{post.title}}</mat-cell>
        </ng-container>
    
        <ng-container matColumnDef="author">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Author</mat-header-cell>
            <mat-cell class="author-cell" *matCellDef="let post">{{post.author}}</mat-cell>
        </ng-container>
    
        <ng-container matColumnDef="created">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Created</mat-header-cell>
            <mat-cell class="created-cell" *matCellDef="let post">{{post.created | date:'mediumDate'}}</mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    
        <mat-row *matRowDef="let row; columns: displayedColumns" (click)="onRowClicked(row)"></mat-row>
    
    </mat-table>

    <mat-paginator [length]="6" [pageSize]="4"
                   [pageSizeOptions]="[2, 4, 8]"></mat-paginator>


    <a routerLink="/create-post" routerLinkActive="active">Create</a>
</div>
