<div class="posts">
    <mat-table class="posts-table mat-elevation-z8" [dataSource]="dataSource"
        matSort matSortActive="title" matSortDirection="asc" matSortDisableClear>

        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
            <mat-cell *matCellDef="let post">{{post.id}}</mat-cell>
        </ng-container>
    
        <ng-container matColumnDef="title">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Title</mat-header-cell>
            <mat-cell class="title-cell" *matCellDef="let post">{{post.title}}</mat-cell>
        </ng-container>
    
        <ng-container matColumnDef="author">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Author</mat-header-cell>
            <mat-cell class="author-cell" *matCellDef="let post">{{post.author}}</mat-cell>
        </ng-container>
    
        <ng-container matColumnDef="created">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Created</mat-header-cell>
            <mat-cell class="created-cell" *matCellDef="let post">{{post.created | date:'mediumDate'}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell class="created-cell" *matCellDef="let post">
                <a routerLink="/admin/edit-post/{{post.id}}" mat-button>
                    <mat-icon>edit</mat-icon>
                    Edit
                </a>

                <button mat-button
                    (click)="deletePost(post)">
                    <mat-icon>delete</mat-icon>
                    Delete
                </button>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    
    </mat-table>

    <mat-paginator [length]="11" [pageSize]="10"
                   [pageSizeOptions]="[10, 20, 50]"></mat-paginator>


    <a routerLink="/admin/create-post" mat-button>
        <mat-icon>add</mat-icon>Create
    </a>

</div>
